<div class="container-form col-12">
    <div class="container">
        <section class="content" id="form-font">
            <form class="form">
                <div class="row">
                    <div class="col-12">
                        <ul class="ds-btn">
                            <li>
                                <a class="btn btn-lg btn-primary boto_left" href="/produit" style="height: 60px;">
                                    <i class="glyphicon glyphicon-user pull-left"></i><span>Produit<br></span></a>

                            </li>
                            <li>
                                <a class="btn btn-lg btn-success boto_right" href="/fournissuer" style="height: 60px;">
                                    <i class="glyphicon glyphicon-dashboard pull-left"></i><span>Fournisseur<br></span></a>

                            </li>
                            <li>
                                <a class="btn btn-lg btn-primary bot_left" href="/vente" style="height: 60px;">
                                    <i class="glyphicon glyphicon-user pull-left"></i><span>Vente<br></span></a>

                            </li>
                            <li>
                                <img src="../../../assets/img/calendar.png" style="height: 100px; width: 150px; align-items: center; margin-left: 566px;">
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
        </section>
    </div>

</div>