<form class="form" [formGroup]="form" (ngSubmit)='AddVehicule()'>
<div class="container-form col-12">
    <div class="container">
        <section class="content" id="form-font">       
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="first-name-column">{{ "matricule" | translate }} :</label>
                            <input type="text" id="appt" name="appt" class="form-control" formControlName='matricule'>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="city-column">{{ "marque" | translate }}:</label>
                            <input type="text" id="appt" name="appt" class="form-control" formControlName='marque'>    
                        </div>
                    </div>
    
                    <div class="col-6">
                        <div class="form-group">
                            <label for="last-name-column">{{ "date de visite" | translate }}:</label>
                            <input type="date" id="appt" name="appt" class="form-control" formControlName='date_visite'>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="last-name-column">{{ "date de vidange" | translate }}:</label>
                            <input type="date" id="appt" name="appt" class="form-control" formControlName='date_vidange'>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="first-name-column">{{ "Type" | translate }} :</label>
                            <input type="text" id="appt" name="appt" class="form-control" formControlName='type'>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="first-name-column">{{ "Modèle" | translate }} :</label>
                            <input type="text" id="appt" name="appt" class="form-control" formControlName='modele'>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="last-name-column">{{ "vignette" | translate }}:</label>
                            <input type="text" id="appt" name="appt" class="form-control" formControlName='vignette'>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="last-name-column">{{ "Carte grise" | translate }}:</label>
                            <input type="file" id="appt" name="appt" class="form-control" formControlName='carte_grise'>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="last-name-column">{{ "assurance" | translate }}:</label>
                            <input type="file" id="appt" name="appt" class="form-control" formControlName='assurance'>
                        </div>
                    </div>
                    
                    <div class="col-6">
                        <div class="form-group">
                            <label for="last-name-column">{{ "visite" | translate }}:</label>
                            <input type="file" id="appt" name="appt" class="form-control" formControlName='visite'>
                        </div>
                    </div>
                    
                </div>
         
        </section>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-3"></div>
            <div class="col-3"></div>
            <div class="col-3">
                <button class="btn next-btn" id="button1-fnt" type="submit" >
                    <i class="fa fa-plus"></i>
                    {{ "sauvegarder" | translate }}
                    
                </button>
            </div>
        </div>
    </div>
    </div>
</form>