<div class="container-form col-12">
    <div class="container">
        <section class="content" id="form-font">
            <form class="form">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="city-column">{{ "Candidat" | translate }}:</label>
                            <select class="form-control" name="moniteur-pratique">
                                <option value="1">{{ "candidat" | translate }}1</option>
                                <option value="2">{{ "candidat" | translate }}2</option>
                            </select>    
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="last-name-column">{{ "Date de vente" | translate }}:</label>
                            <input type="date" id="appt" name="appt" class="form-control">
                        </div>
                    </div>
    
                    <div class="col-6">
                        <div class="form-group">
                            <label for="last-name-column">{{ "produit" | translate }}:</label>
                            <select class="form-control" name="moniteur-pratique">
                                <option value="1">{{ "produit" | translate }}1</option>
                                <option value="2">{{ "produit" | translate }}2</option>
                            </select>  
                        </div>
                    </div>
                    
                    <div class="col-6">
                        <div class="form-group">
                            <label for="last-name-column">{{ "Prix" | translate }}:</label>
                            <input type="number" id="appt" name="appt" class="form-control">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="last-name-column">{{ "Quantite" | translate }}:</label>
                            <input type="number" id="appt" name="appt" class="form-control">
                        </div>
                    </div>
    
                    <div class="col-12">
                        <div class="form-group">
                            <label for="email-id-column">{{ "Description" | translate }}:</label>
                            <textarea class="form-control adresse" name="description" id="description" rows="3"
                                placeholder="{{ 'Description' | translate }}"></textarea>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-3"></div>
            <div class="col-3"></div>
            <div class="col-3">
                <button class="btn next-btn" id="button1-fnt">
                    <i class="fa fa-plus"></i>
                    {{ "sauvegarder" | translate }}
                    
                </button>
            </div>
        </div>
    </div>
    </div>
    