<div class="wrapper d-flex align-items-stretch">
  <nav id="sidebar" class="active" [ngClass]="{ active: navbarOpen }">
    <h1>
      <img
        src="../assets/img/logo-primary.svg"
        class="logo"
        style="background-color: white"
      />
    </h1>

    <ul class="list-unstyled components mb-5">
      <li class="active">
        <a href="#"
          ><span class="fa fa-home fa-2x"></span>

          {{ "Acceuil" | translate }}
        </a>
      </li>
      
      <li >
        <a href="/candidat_trsnf"
          ><span class="fa fa-user fa-2x"></span>
          {{ "candidats" | translate }}
        </a>
      
      </li>
    
      <li>
        <a href="/button"
          ><span class="fa fa-book fa-2x"></span>
          {{ "Cours " | translate }}
        </a>
      </li>
      <li>
        <a href="/vehcl_trnsf"
          ><span class="fa fa-car fa-2x"></span>
          {{ "Véhicules" | translate }}
        </a>
      </li>
      <li>
        <a href="/exam"
          ><span class="fa fa-edit fa-2x"></span>
          {{ "Examens" | translate }}
        </a>
      </li>
      <li>
        <a href="/caisse"
          ><span class="fa fa-shopping-cart fa-2x"></span>
          {{ "Caisse" | translate }}
        </a>
      </li>
      <!-- <li>
          <a href="#"><span class="fa fa-car-side fa-2x"></span> Véhicules</a>
        </li> -->
      <li>
        <a href="/produit_trsf">

        
          <span class="fa fa-product-hunt fa-2x"></span>
          {{ "Produit" | translate }}</a
        >
      </li>
      <li>
        <a href="cat_trnsf"
          ><span class="fa fa-cog fa-2x"></span>
          {{ "Configurations" | translate }}
        </a>
      </li>
    </ul>
   
  </nav>
  
  <!-- Page Content  -->
  <div id="content">
    <div class="p-4 p-md-3">
      <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: violet; display: block;">
        <div class="container-fluid">
          <button
            type="button"
            id="sidebarCollapse"
            class="btn btn-danger"
            (click)="toggleNavbar()"
          >
            <i class="fa fa-bars"></i>
            <span class="sr-only">Toggle Menu</span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" role="button" (click)="logout()" style="size: 2px"
                  ><span
                    class="fa fa-power-off fa-2x"
                    style="font-size: 1rem"
                  ></span
                ></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"
                  ><span class="fa fa-bell fa-2x" style="font-size: 1rem"></span
                ></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"
                  ><span
                    class="fa fa-comments fa-2x"
                    style="font-size: 1rem"
                  ></span
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="p-4 p-md-3">
      <div >
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
 
</div>

