<div class="wrap-table100">
    <div class="table-header">
      <div class="row">
        <div class="col-9">
          <div class="title">
            <form>
              <input class = "form-control srch" id = "myText" type = "text" placeholder = "Rechercher ici..."  matInput> 
                </form>
          </div>
        </div>
        
        <div class="col-3 add-btn-div">
          <button class="btn btn-primary add-btn" routerLink="/vehicule_form">
            <i class="fa fa-plus"></i>{{ "Nouveau véhicule" | translate }}
          </button>
        </div>
      </div>
    </div>
    <div class="tableDiv">
      <table id="sailorTable" class="table table-light table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">{{ "matricule" | translate }}</th>
            <th scope="col">{{ "marque" | translate }}</th>
            <th scope="col">{{ "date de visite" | translate }}</th>
            <th scope="col">{{ "date de vidange" | translate }}</th>
            <th scope="col">{{ "plus d'informations" | translate }}</th>
            <th scope="col">{{ "Opérations" | translate }}</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let mydata of data">
                <td>{{mydata.matricule}}</td>
                <td>{{mydata.marque}}</td>
                <td>{{mydata.date_visite}}</td>
                <td>{{mydata.date_vidange}}</td>
                <td>{{mydata}</td>
            
              <td>
                <button class="btn btn-danger">
                  <i class="fa fa-trash"></i>
                </button>
                <button class="btn btn-primary">
                  <i class="fa fa-edit"></i>
                </button>
              </td>
            </tr>
        </tbody>
      </table>
      <div class="panel-footer">
        <div class="row">
          <div class="col-12 py-3">
            <ul class="pagination justify-content-center">
              <li class="page-item"><a href="#" class="page-link">«</a></li>
              <li class="active"><a href="#" class="page-link">1</a></li>
              <li class="page-item"><a href="#" class="page-link">2</a></li>
              <li class="page-item"><a href="#" class="page-link">3</a></li>
              <li class="page-item"><a href="#" class="page-link">4</a></li>
              <li class="page-item"><a href="#" class="page-link">5</a></li>
              <li class="page-item"><a href="#" class="page-link">»</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>