<div class="container-form col-12">
    <div class="container">
        <section class="content" id="form-font">
            <form class="form">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="city-column">{{ "Employé" | translate }}:</label>
                            <select class="form-control" name="Employé">
                                <option value="1">{{ "Employé" | translate }}1</option>
                                <option value="2">{{ "Employé" | translate }}2</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="city-column">{{ "Fournisseur" | translate }}:</label>
                            <select class="form-control" name="Employé">
                                <option value="1">{{ "Fournisseur" | translate }}1</option>
                                <option value="2">{{ "Fournisseur" | translate }}2</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="city-column">{{ "Véhicule" | translate }}:</label>
                            <select class="form-control" name="Employé">
                                <option value="1">{{ "Fournisseur" | translate }}1</option>
                                <option value="2">{{ "Fournisseur" | translate }}2</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label for="last-name-column">{{ "Date de vidange" | translate }}:</label>
                            <input type="date" id="appt" name="appt" class="form-control">
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label for="last-name-column">{{ "Date suivante" | translate }}:</label>
                            <input type="date" id="appt" name="appt" class="form-control">
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label for="last-name-column">{{ "Durée de rappeler" | translate }}:</label>
                            <input type="number" id="appt" name="appt" class="form-control">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="last-name-column">{{ "Etat voiture" | translate }}:</label>
                            <input type="text" id="appt" name="appt" class="form-control">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="last-name-column">{{ "Km actuelle" | translate }}:</label>
                            <input type="number" id="appt" name="appt" class="form-control">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="last-name-column">{{ "Type huile" | translate }}:</label>
                            <input type="text" id="appt" name="appt" class="form-control">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="last-name-column">{{ "Dernier Km | translate }}:</label>
                            <input type="number" id="appt" name="appt" class="form-control">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="last-name-column">{{ "HT" | translate }}:</label>
                            <input type="number" id="appt" name="appt" class="form-control">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="last-name-column">{{ "Taux" | translate }}:</label>
                            <input type="number" id="appt" name="appt" class="form-control">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="last-name-column">{{ "TTC" | translate }}:</label>
                            <input type="number" id="appt" name="appt" class="form-control">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="last-name-column">{{ "TVA" | translate }}:</label>
                            <input type="number" id="appt" name="appt" class="form-control">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="last-name-column">{{ "Filtre" | translate }}:</label>
                            <input type="text" id="appt" name="appt" class="form-control">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="last-name-column">{{ "type" | translate }}:</label>
                            <input type="text" id="appt" name="appt" class="form-control">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label for="email-id-column">{{ "Description" | translate }}:</label>
                            <textarea class="form-control adresse" name="description" id="description" rows="3"
                                placeholder="{{ 'Description' | translate }}"></textarea>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-3"></div>
            <div class="col-3"></div>
            <div class="col-3">
                <button class="btn next-btn" id="button1-fnt">
                    <i class="fa fa-plus"></i>
                    {{ "sauvegarder" | translate }}

                </button>
            </div>
        </div>
    </div>
</div>